.form-control.custom {

  height: 40px;
  border: 1px solid #CDCBCB;
  border-radius: 5px;
  background-color: #FFFFFF;

  &:focus {
    box-shadow: unset;
  }
}

textarea.custom{
  width: 100%;
  border: 1px solid #CDCBCB;
  border-radius: 5px;
  background-color: #FFFFFF;
}