/* line 1, ../sass/default.scss */
.wrapper {
  background-color: #FFFFFF;
  box-shadow: 0 6px 20px -8px rgba(194, 194, 194, 0.5);
}
/* line 4, ../sass/default.scss */
.wrapper.xl {
  padding: 32px 90px;
}

@media (min-width: 1200px) {
  /* line 10, ../sass/default.scss */
  .container {
    max-width: 1180px;
  }
}
/* line 18, ../sass/default.scss */
img {
  max-width: 100%;
}
